<!-- Your HTML Form in EJS format -->
<DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="Form style.css">
        <title>FEES PAYMENT</title>
</head>
<body>
    <div class="container">
        <header>FEES PAYMENT FORM</header>
        <form action="/feespayment" method="post">
            <div class="form first">
                <div class="details personal">
                    <span class="title">INPUT DETAILS</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>STUDENT ID</label>
                            <input type="number" name="STUDENT_ID" placeholder="Enter your STUDENT ID" required>
                        </div>
                        <div class="input-field">
                            <label>STUDENT'S NAME</label>
                            <input type="text" placeholder="Enter the student's name" name="STUDENTS_NAME" required>
                        </div>
                        <div class="input-field">
                            <label>FORM</label>
                            <input type="text" placeholder="e.g FORM 3"  name="FORM"  required>
                        </div>
                        <div class="input-field">
                            <label>DATE OF PAYMENT</label>
                            <input type="date" placeholder="Date of Payment" name="DATE_OF_PAYMENT" required>
                        </div>
                        <div class="input-field">
                            <label>AMOUNT PAID</label>
                            <input type="number" placeholder="State amount paid" name="AMOUNT_PAID" required>
                        </div>
                    </div>
                    
                </div>
                <button type="submit" class="add-record">
                    <span class="btnText">ADD RECORD</span>
                    <i class="uil  uil-navigator"></i>
                </button>
            </div>
        </form>
    </div>
</body>
</html>
