<DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="Form style.css">
        <title>TEACHERS</title>
    </head>
    <body>
        <div class="container">
            <header>TEACHERS' FORM</header>
            <form action="#">
                <div class="form first">
                    <div class="details personal">
                        <span class="title">INPUT DETAILS</span>
    
                        <div class="fields">
                            <div class="input-field">
                                <label>ID NUMBER</label>
                                <input type="number" placeholder="Enter your ID Number" required>
                            </div>
                            <div class="input-field">
                                <label>EMPLOYEE ID</label>
                                <input type="text" placeholder="Enter your Employee ID" required>
                            </div>
                            <div class="input-field">
                                <label>FIRST NAME</label>
                                <input type="text" placeholder="Your first name" required>
                            </div>
                            <div class="input-field">
                                <label>SURNAME</label>
                                <input type="text" placeholder="Your surname" required>
                            </div>
                            <div class="input-field">
                                <label>GENDER</label>
                                <input type="text" placeholder="MALE OR FEMALE" required>
                            </div>
                            <div class="input-field">
                                <label>DEPARTMENT</label>
                                <input type="text" placeholder="e.g TECHNICALS" required>
                            </div>
                            <div class="input-field">
                                <label>SUBJECTS TAUGHT</label>
                                <input type="text" placeholder="e.g MATHEMATICS" required>
                            </div>
                        </div>
    
                        
                    </div>
                    <button class="add-record">
                        <span class="btnText">ADD RECORD</span>
                        <i class="uil  uil-navigator"></i>
                    </button>
                </div>
            </form>
    
        </div>
        
    </body>
    </html>