<html>
  <head>
    <title>YTTERBIUM HIGH</title>
    <link rel="stylesheet" href="Ytterbium High.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!--CSS code for the background-->
    <style>
      body {
        background-color: rgb(25, 47, 66);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    </style>

    <div class="content">
      <h1>WELCOME TO YTTERBIUM HIGH'S DATABASE</h1>
      <p>DISCIPLINE,PERFORMANCE AND SERVICE.</p>
      <div>
        <form action="/feespayment" >
          <button type="submit"><span></span>FEES PAYMENT</button>
        </form>
        <form action="/parents">
          <button type="submit" >
          <span>PARENTS</span>
        </button>
        </form>
        <form action="/teachers">
          <button type="submit">
          <span>TEACHERS</span>
        </button>
        </form>
        <form action="/registration">
          <button type="submit" >
          <span>REGISTRATION</span>
        </button>
        </form>
        
        <form action="/students" >
          <button type="submit" ">
          <span>STUDENTS</span>
        </button>
        </form>
        
        <form action="/supportStaff" >
            <button type="submit" >
          <span></span>SUPPORT STAFF
        </button>
        </form>
      
      </div>
    </div>

    <!--Footer content-->
    <footer>
      <div class="footer-content">
        <h3>YTTERBIUM HIGH</h3>
        <p>DISCIPLINE,PERFORMANCE AND SERVICE</p>
        <ul class="socials">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>Created by McCullen corp</p>
      </div>
    </footer>

    <!--JAVASCRIPT CODE FOR THE BUTTONS--CONNECTING THE VARIOUS FORMS-->
    <script>
      function redirectToPageFees() {
        window.location.href = "Fees payment.html";
      }

      function redirectToPageParents() {
        window.location.href = "Parents.html";
      }

      function redirectToPageTeachers() {
        window.location.href = "Teachers.html";
      }

      function redirectToPageRegistration() {
        window.location.href = "Registration.html";
      }

      function redirectToPageStudents() {
        window.location.href = "Students.html";
      }

      function redirectToPageSupport() {
        window.location.href = "Support staff.html";
      }
    </script>
  </body>
</html>
